body{
    font-family: 'Roboto', sans-serif;
}
/* header section*/
.header{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 1600px;
    margin: auto;
    border-bottom: 1px solid #ECECEC;
}
.navigation {
    display: flex;
    flex-direction: row;
}
.logo {
    width: 145px;
    height: 31px;
    margin: 25px 95px 25px 215px;
}
.nav-list{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 30px 200px 30px 0px;
}
.nav-element{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 14px;
    margin: 0px 50px 0px 0px;
}
.contact-list{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 30px 165px 30px 0px;
}
.contact-element{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 14px;
    margin: 0px 50px 0px 0px;
}
.header-link {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.header-link-portfolio {
    text-decoration: none;
    color: #2196F3;
}
.contact-link {
    text-decoration: none;
    color: #757575;
}
.contact-link:hover,
.contact-link:focus {
    color: #2196F3;
    text-decoration: underline;
}
.header-link:hover,
.header-link:focus {
    color: #2196F3;
    text-decoration: underline;
}

/*main section*/
.main-section {
    background-color: #ffffff;
    margin: auto;
    width: 1600px;
}
.main-nav {
    margin: 95px 455px 0px 455px;
}
.main-nav-list {
    padding: 0px;
    list-style: none;
    display: flex;
}
.main-nav-element {
    padding: 10px;
}
button {
    background: #F5F4FA;
    border-radius: 4px;
    border-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 6px 22px;
}
.main-content-list {
    width: 1170px;
    display: block;
}
.main-content-element {
    width: 370px;
}
.main-element-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.main-element-type {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

/*footer section*/
.footer-section {
    background-color: #2F303A;
    margin: auto;
    width: 1600px;
    height: 250px;
}
.footer-logo {
}
.footer-list {
    display: block;
    list-style: none;
    text-decoration: none;
}
.footer-adress {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: white;
}
.footer-link {
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}