body{
    font-family: 'Roboto', sans-serif;
}
.header-link{
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.contact-link {
    text-decoration: none;
    color: #757575;
}
.contact-link:hover,
.contact-link:focus {
    color: #2196F3;
    text-decoration: underline;
}
.header-link:hover,
.header-link:focus {
    color: #2196F3;
    text-decoration: underline;
}
.header{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 1600px;
    margin: auto;
}
.navigation {
    display: flex;
    flex-direction: row;
}
.logo {
    width: 145px;
    height: 31px;
    margin: 25px 95px 25px 215px;
}
.nav-list{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin: 30px 200px 30px 0px;
}
.nav-element{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 14px;
    margin: 0px 50px 0px 0px;
}
.contact-list{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 30px 165px 30px 0px;
}
.contact-element{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 14px;
    margin: 0px 50px 0px 0px;
    
}
.main-section {
    display: flex;
    flex-direction: column;
}
.zakaz {
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
    margin: auto;
}
.zakaz-text {
    font-style: normal;
    color: white;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    padding: 200px 450px 40px 450px;
    text-align: center;
    letter-spacing: 0.06em;
}
.zakaz-button {
    width: 200px;
    height: 50px;   
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: white;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0px 700px 200px 700px;
    letter-spacing: 0.06em;
}
.accents {
    background-color: #E5E5E5;
    width: 1600px;
    margin: auto;
}
.accents-list {
    display: flex;
    list-style-type: none;
}
.accents-list-element {
    font-size: 14px;
}
.accents-heading {
    color: #212121;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
}
.accents-list-element-text{
    color: #757575;
    width: 270px;
    height: 75px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em; 
}
.work-heading {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.work-list {
    display: flex;
    padding-left: 150px;
    list-style-type: none;
}
.work-list-element {
    padding-inline: 30px;

}
.team-section{
    background-color: #F5F4FA;
    width: 1600px;
    height: 650px;
    margin: auto;
}
.team-heading {
    width: 264px;
    height: 42px;
    margin-top: 95px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}
.team-list {
    display: flex;
    width: 1170px;
    height: 368px;
    list-style-type: none;

}
.team-list-element {
    width: 270px;
    height: 368px;
    padding: 30px;
}
.team-member {
    color: #212121;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-member-profession {
    color: #757575;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
.footer-section {
    background-color: #2F303A;
    margin: auto;
    width: 1600px;
    height: 250px;
}
.footer-logo {
}
.footer-list {
    display: block;
    list-style: none;
    text-decoration: none;
}
.footer-adress {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: white;
}
.footer-link {
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}